dev.db
build
dist
node_modules
__node_modules
.vscode
readme.txt
.vscode
.gitignore
api.teste.http

Dockerfile
Dockerfile.2
Dockerfile.apline
Dockerfile.bk
package-lock.json
docker-compose.prod.yaml
Dockerfile.bkp